[Unit]
Requires=docker.service
After=docker.service
StopWhenUnneeded=true
[Service]
User=metrics
ExecStart=/usr/bin/docker-compose -f {{ metrics_checkout_dir }}/docker-compose.yml up
ExecStopPost=/usr/bin/docker-compose -f {{ metrics_checkout_dir }}/docker-compose.yml down
[Install]
WantedBy=rchain-perf-harness.target
