[Unit]
Requires=docker.service
After=docker.service

[Service]
User=metrics
ExecStart=/usr/bin/docker-compose --file {{ metrics_checkout_dir }}/docker-compose.yml up
ExecStopPost=/usr/bin/docker-compose --file {{ metrics_checkout_dir }}/docker-compose.yml down
